

  /*PC*/
  .inner {
    margin: 0 auto;
    width: 1100px;
  }

  body {
    font-family: "Raleway", cursive;
  }

  .font {
    font-family: "Lato", cursive;
  }

  .main-content {
    margin-top: 70px;
  }

  .humberger {
    display: none;
  }

  .header {
    padding: 15px 0;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .bolt-parts {
    color: #808080;
  }

  .contact-form {
    text-decoration: none ;
    float: right;
    border: none;
    padding: 14px 20px;
    color: #fff;
    font-size: 12px;
    background-color: #74cfae;
    text-align: center;
    transition: 0.3s;
  }

  .contact-form:hover {
    color: #333;
  }

  .title-content {
    padding: 250px 0;
    width: 100%;
    background-color: #f2f2f2;
  }

  .theme {
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    color: #74cfae;
  }

  .theme-text {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: #c0c0c0;
  }

  .section-content {
    padding-top: 50px;
    width: 100%;
    background-color: #74cfae;
  }

  .section-title {
    color: #fff;
    font-size: 24px;
  }

  .content-text {
    text-align: center;
    float: right;
  }

  .section-text {
    width: 650px;
    line-height: 1.5;
    font-size: 20px;
    color: #fff;
    margin-top: 35px;
  }

  .section-img {
    margin-left: 100px;
  }



  .article {
    font-size:0;
  }

  .article-title {
    font-size: 24px;
    margin-bottom: 40px;
    color: #333;
    text-align: center;
  }

  .article-content {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: #f2f2f2;

  }

  .article-img {
    display: inline-block;
    transition: 0.3s;
    opacity: 0.7;
    margin-left: 100px;
    margin-top: 80px;
  }

  .article-img:hover {
    cursor: pointer;
    opacity: 1.0;
  }

  .article-img:nth-child(3n+1) {
    margin-left: 0;
  }

  .article-img:nth-child(-n+3) {
    margin-top: 0;
  }

  .article-textbox {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5;
    font-size: 16px;
    width: 460px;
  }

  .article-text {
    display: inline-block;
    text-align: center;
    margin-left: 250px;
    margin-top: 90px;
    font-size: 0;
  }

  .email-box {
    display: inline-block;
  }

  .email-btn {
    margin-left: 90px;
    display: inline-block;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 12px;
    color: #fff;
    background-color: #74cfae;
    transition: 0.3s;
  }

  .email-btn:hover {
    color: #333;
  }

  .article-our {
    width: 100%;
    background-color: #4e4e4e;
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .circle-title {
    text-align: center;
    font-size: 24px;
    color: #f2f2f2;
  }

  .text {
    text-align: center;
    color: #fff;
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-img {
    margin-top: 20px;
    margin-right: 180px;
    text-align: center;
  }

  .circle-img:last-child {
    margin-right: 0;
  }

  .caption {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
  }

  .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px 0;
    background-color: #f2f2f2;
  }

  .nav-btn {
    display: inline-block;
    width: 185px;
    padding: 20px 0;
  }

  .nav-color {
    color: #74cfae;
    transition: 0.3s;
    text-decoration: none;
  }

  .nav-btn:hover {
    cursor: pointer;
    background-color: #fff;
  }

  .footer {
    width: 100%;
    background-color: #74cfae;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .footer-text {
    color: #fff;
    text-align: right;
  }




/*TAB*/
@media screen and (min-width:768px) and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  /*What can we do?*/
  .section-content {
    padding-bottom: 25px;
    text-align: center;
  }

  .content-text {
    float: none;
  }

  .section-text {
    width: auto;
  }

  .section-img {
    margin-left: 0;
    margin-bottom: 20px;
  }

  /*OUR LATEST WORK*/

  .article {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .article-img {
    margin-left: 0;
    margin-top: 0;
  }

  .article-img:nth-child(3n) {
    margin-bottom: 80px;
  }

  .article-img:last-child {
    margin-bottom: 0;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-left: 0;
  }

  .article-textbox {
    width: auto;
  }

  .email-box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-btn {
    margin-left: 0;
  }

  /*OUR SKILLS*/
  .circle {
    margin-top: 40px;
    flex-direction: column;
  }

  .circle-img {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 88px;
  }

  .circle-img:last-child {
    margin-bottom: 0;
  }
}

/*SP*/
@media screen and (max-width:767px) {
  .inner {
    width: 97%;
  }

  .contact-form {
    display: none;
    float: none;
  }

  .humberger {
    display: block;
    float: right;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #ddd;
  }

  .title-content {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .theme {
    font-size: 80px;
  }

  .theme-text {
    font-size: 30px;
  }

  /*What can we do?*/
  .section-content {
    padding-bottom: 25px;
    text-align: center;
  }

  .content-text {
    float: none;
  }

  .section-text {
    width: auto;
  }

  .section-img {
    margin-left: 0;
    margin-bottom: 20px;
  }

  /*OUR LATEST WORK*/

  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-img {
    margin-left: 0;
    margin-top: 0;
  }

  .article-img:nth-child(3n) {
    margin-bottom: 80px;
  }

  .article-img:last-child {
    margin-bottom: 0;
  }

  .article-text {
    margin-top: 80px;
    margin-left: 0;
  }

  .article-textbox {
    width: auto;
  }

  .email-box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-btn {
    margin-left: 0;
  }

  /*OUR SKILLS*/
  .circle {
    margin-top: 40px;
    flex-direction: column;
  }

  .circle-img {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 88px;
  }

  .circle-img:last-child {
    margin-bottom: 0;
  }

  .nav-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .nav-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-btn {
    width: 100%;
  }

  .nav-btn:hover {
    cursor: pointer;
    background-color: #fff;
  }
}
